*{margin:0;padding:0;border:none;}
html{background-color: rgb(187, 236, 215);}
body{  min-height:100vh;
    width:100%;
      background-image:url("../images/greendesign.jpg");
      background-size: cover;


body {
    cursor: url('/images/favicon-3.ico'), auto;
}


   
